*{
	margin: 0;
	padding:0;
	box-sizing:border-box;
}

.box{
	font-family: "微软雅黑";
	width:400px;
	height: 300px;
	margin: 150px auto;
	display: block;
	background-color: #6D3E94;
	position: relative;
}
h1{
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
	padding-top: 20px;
	font-weight: normal;
}
.usernameBox{
	position: relative;
    height: 57px;
	display: block;
	margin-left: 50px;
	margin-bottom: 20px;
}
.passwordBox{
	position: relative;
	height: 57px;
	display: block;
	margin-left: 50px;
	margin-bottom: 18px;
}
input{
	position: absolute;
	background:#FFFFFF;
	font-size: 15px;
	border: none;
	width: 300px;
	padding-left: 5px;
	height: 3px; 
	border-radius: 3px;
    display: block;
    bottom: 0px;
    box-shadow: 0px 4px 3px #3C264F; 
    /*-webkit-transition: height .4s linear 0s;
    transition: height .4s linear 0s;*/
}

@keyframes change {
	0%{
		font-size: 15px;
		left: 10px;
		top: 20px;
	}
	60%{
		font-size:10px;
		left:0px;
		top:0px;
	}
	100%{
		font-size: 10px;
		left:0px;
		top:6px;
	}
}
@keyframes inputChange{
    0%{
    	height: 3px;
    }
    100%{
    	height: 35px;
    }
}

.forget{
	padding-left: 250px;
	color:#3C264F;
	font-size:12px; 
	margin-bottom: 25px;
}

input:focus{
	outline: none;
	animation: .5s inputChange ease-out;
	animation-fill-mode: both;
}

.labelStart{
	animation: change .5s ease-out;
	animation-fill-mode: both;
}

label{
	position: absolute;
	color: #FFFFFF;
	cursor: pointer;
	top: 20px;
	left: 10px;
	font-size: 15px;
}
input.buttom{
	position: relative;
	font-family: "微软雅黑";
	font-size: 12px;
    color:#FFFFFF;
	width: 400px;
	height: 40px;
	background:#482466;
	bottom:0px; 
	border: none;
	box-shadow: none;
}
