*{
	margin: 0;
	padding:0;
	box-sizing:border-box;
}

.box{
	font-family: "微软雅黑";
	width:400px;
	height: 300px;
	margin: 150px auto;
	display: block;
	background-color: #6D3E94;
	position: relative;
}
h1{
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
	padding-top: 20px;
	font-weight: normal;
}
.usernameBox{
	position: relative;
    height: 57px;
	display: block;
	margin-left: 50px;
	margin-bottom: 20px;
}
.passwordBox{
	position: relative;
	height: 57px;
	display: block;
	margin-left: 50px;
	margin-bottom: 20px;
}
#username,#password{
	position: absolute;
	background:#FFFFFF;
	font-size: 15px;
	border: none;
	width: 300px;
	padding-left: 5px;
	height: 3px; 
	border-radius: 3px;
    display: block;
    bottom: 0px;
    box-shadow: 0px 4px 3px #3C264F; 
}
.forget{
	padding-left: 250px;
	color:#3C264F;
	font-size:12px; 
	margin-bottom: 25px;
}

input:focus{
	outline: none;
}
label{
	position: absolute;
	color: #FFFFFF;
	cursor: pointer;
	top: 20px;
	left: 10px;
	font-size: 15px;
}
input.buttom{
	position: relative;
	font-family: "微软雅黑";
	font-size: 12px;
    color:#FFFFFF;
	width: 400px;
	height: 40px;
	background:#482466;
	bottom:0px; 
	border: none;
}
